@charset "UTF-8";
body {
  background-color: #888;
}

.bg_total {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg_total li:nth-child(1) span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -999;
  opacity: 0;
  -webkit-animation: bgSwiper 30s infinite linear;
          animation: bgSwiper 30s infinite linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.bg_total li:nth-child(2) span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -999;
  opacity: 0;
  -webkit-animation: bgSwiper 30s infinite linear;
          animation: bgSwiper 30s infinite linear;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.bg_total li:nth-child(3) span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -999;
  opacity: 0;
  -webkit-animation: bgSwiper 30s infinite linear;
          animation: bgSwiper 30s infinite linear;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

@keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.bg_total li:nth-child(4) span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg4.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -999;
  opacity: 0;
  -webkit-animation: bgSwiper 30s infinite linear;
          animation: bgSwiper 30s infinite linear;
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

@keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.bg_total li:nth-child(5) span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg5.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -999;
  opacity: 0;
  -webkit-animation: bgSwiper 30s infinite linear;
          animation: bgSwiper 30s infinite linear;
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}

@keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .bg_collapse {
    display: none;
  }
  body {
    background: url("../img/sm_bg.gif");
  }
}

/* ======================= 右键背景图 ==============================================*/
.mask_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(102, 102, 102, 0.6);
}

.bg_h {
  position: relative;
  width: 260px;
  height: 260px;
  cursor: none;
  border: 4px solid #ccc;
  box-shadow: 0 0 10px #222;
  border-radius: 50%;
  background-image: none;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  /* 有了该属性，底下的图片就不会随着父元素的移动而移动，也不会随着滚动条滚动而滚动 */
}
