@charset "UTF-8";
body {
  background-color: #888;
}

.bg_total {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg_total li:nth-child(1) span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://gitee.com/pengnima1/blogimage/raw/master/img/background/bg1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -999;
  opacity: 0;
  -webkit-animation: bgSwiper 30s infinite linear;
          animation: bgSwiper 30s infinite linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.bg_total li:nth-child(2) span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://gitee.com/pengnima1/blogimage/raw/master/img/background/bg2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -999;
  opacity: 0;
  -webkit-animation: bgSwiper 30s infinite linear;
          animation: bgSwiper 30s infinite linear;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.bg_total li:nth-child(3) span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://gitee.com/pengnima1/blogimage/raw/master/img/background/bg3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -999;
  opacity: 0;
  -webkit-animation: bgSwiper 30s infinite linear;
          animation: bgSwiper 30s infinite linear;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

@keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.bg_total li:nth-child(4) span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://gitee.com/pengnima1/blogimage/raw/master/img/background/bg4.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -999;
  opacity: 0;
  -webkit-animation: bgSwiper 30s infinite linear;
          animation: bgSwiper 30s infinite linear;
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

@keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

.bg_total li:nth-child(5) span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://gitee.com/pengnima1/blogimage/raw/master/img/background/bg5.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: -999;
  opacity: 0;
  -webkit-animation: bgSwiper 30s infinite linear;
          animation: bgSwiper 30s infinite linear;
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}

@keyframes bgSwiper {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .bg_collapse {
    display: none;
  }
  body {
    background: url("https://gitee.com/pengnima1/blogimage/raw/master/img/background/sm_bg.gif");
  }
}

/* ======================= 右键背景图 ==============================================*/
.mask_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(102, 102, 102, 0.6);
}

.bg_h {
  position: relative;
  width: 260px;
  height: 260px;
  cursor: none;
  border: 4px solid #ccc;
  box-shadow: 0 0 10px #222;
  border-radius: 50%;
  background-image: none;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  /* 有了该属性，底下的图片就不会随着父元素的移动而移动，也不会随着滚动条滚动而滚动 */
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: rotate(0) scale(0.1);
          transform: rotate(0) scale(0.1);
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: transform, opacity, visibility;
  transition-property: transform, opacity, visibility, -webkit-transform;
  transition-duration: 0.5s;
}

.menu a {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border: 2px solid #dc965a;
  border-radius: 50%;
  box-sizing: border-box;
  color: white;
  text-shadow: #dc965a 1px 0 0, #dc965a 0 1px 0, #dc965a -1px 0 0, #dc965a 0 -1px 0;
  box-shadow: 0 0 20px white;
}

.menu a:hover {
  text-shadow: #66ccff 1px 0 0, #66ccff 0 1px 0, #66ccff -1px 0 0, #66ccff 0 -1px 0;
  box-shadow: inset 0 0 80px white;
}

.menu.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotate(360deg) scale(1);
          transform: rotate(360deg) scale(1);
}

.menu a:nth-child(1) {
  background-image: url("https://gitee.com/pengnima1/blogimage/raw/master/img/menu/1.jpg");
  background-size: contain;
}

.menu a:nth-child(2) {
  background-image: url("https://gitee.com/pengnima1/blogimage/raw/master/img/menu/2.jpg");
  background-size: contain;
}

.menu a:nth-child(3) {
  background-image: url("https://gitee.com/pengnima1/blogimage/raw/master/img/menu/3.jpg");
  background-size: contain;
}

.menu a:nth-child(4) {
  background-image: url("https://gitee.com/pengnima1/blogimage/raw/master/img/menu/4.jpg");
  background-size: contain;
}

.menu a:nth-child(5) {
  background-image: url("https://gitee.com/pengnima1/blogimage/raw/master/img/menu/5.jpg");
  background-size: contain;
}

.menu a:nth-child(6) {
  background-image: url("https://gitee.com/pengnima1/blogimage/raw/master/img/menu/6.jpg");
  background-size: contain;
}

.menu a:nth-child(1) {
  left: 110px;
  top: 0;
}

.menu a:nth-child(2) {
  left: 200px;
  top: 60px;
}

.menu a:nth-child(3) {
  left: 200px;
  top: 160px;
}

.menu a:nth-child(4) {
  left: 110px;
  top: 220px;
}

.menu a:nth-child(5) {
  left: 20px;
  top: 160px;
}

.menu a:nth-child(6) {
  left: 20px;
  top: 60px;
}
