$font_size: 16px !default;

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
$BLOG_IMG_URL: "https://gitee.com/pengnima1/blogimage/raw/master/img/background/";
$BLOG_IMG_MENU_URL: "https://gitee.com/pengnima1/blogimage/raw/master/img/menu/";

body {
  background-color: #888;
}

.bg_total {
  list-style: none;
  margin: 0;
  padding: 0;

  @for $i from 1 through 5 {
    li:nth-child(#{$i}) span {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("#{$BLOG_IMG_URL}bg#{$i}.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
      z-index: -999;
      opacity: 0;
      animation: bgSwiper 30s infinite linear;
      animation-delay: #{$i * 6 - 6}s;
    }

    @keyframes bgSwiper {
      0% {
        opacity: 0;
        animation-timing-function: ease-in;
      }
      4% {
        opacity: 1;
        animation-timing-function: ease-out;
        transform: scale(1.05);
      }
      16% {
        opacity: 1;
        transform: scale(1.1);
      }
      25% {
        opacity: 0;
        transform: scale(1.1);
      }
      100% {
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .bg_collapse {
    display: none;
  }
  body {
    background: url("#{$BLOG_IMG_URL}sm_bg.gif");
  }
}

/* ======================= 右键背景图 ==============================================*/
.mask_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(102, 102, 102, 0.6);
}
.bg_h {
  position: relative;
  width: 260px;
  height: 260px;

  cursor: none;

  border: 4px solid #ccc;
  box-shadow: 0 0 10px #222;
  border-radius: 50%;

  // background-image: none;
  background-size: cover;
  background-attachment: fixed; /* 有了该属性，底下的图片就不会随着父元素的移动而移动，也不会随着滚动条滚动而滚动 */
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;

  visibility: hidden;
  opacity: 0;
  transform: rotate(0) scale(0.1);

  transition-property: transform, opacity, visibility;
  transition-duration: 0.5s;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;

    border: 2px solid #dc965a;
    border-radius: 50%;
    box-sizing: border-box;

    color: white;
    text-shadow: #dc965a 1px 0 0, #dc965a 0 1px 0, #dc965a -1px 0 0, #dc965a 0 -1px 0;
    box-shadow: 0 0 20px white;

    &:hover {
      text-shadow: #66ccff 1px 0 0, #66ccff 0 1px 0, #66ccff -1px 0 0, #66ccff 0 -1px 0;
      box-shadow: inset 0 0 80px white;
    }
  }
}
.menu.open {
  visibility: visible;
  opacity: 1;
  transform: rotate(360deg) scale(1);
}
@keyframes menuOpen {
  0% {
    display: block;
    opacity: 0;
    transform: rotate(0) scale(0.1);
  }
  100% {
    display: block;
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}

@for $i from 1 through 6 {
  .menu a:nth-child(#{$i}) {
    background-image: url("#{$BLOG_IMG_MENU_URL}#{$i}.jpg");
    background-size: contain;
  }
}
.menu a:nth-child(1) {
  left: 110px;
  top: 0;
}
.menu a:nth-child(2) {
  left: 200px;
  top: 60px;
}
.menu a:nth-child(3) {
  left: 200px;
  top: 160px;
}
.menu a:nth-child(4) {
  left: 110px;
  top: 220px;
}
.menu a:nth-child(5) {
  left: 20px;
  top: 160px;
}
.menu a:nth-child(6) {
  left: 20px;
  top: 60px;
}
