.is_none {
  display: none !important;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
