.main_aside {
  flex: 1;
  padding-left: 48px;
  padding-right: 16px;
  transition: align-self 0.5s;
}

.main_aside aside {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .main_aside {
    width: 100%;
    padding: 0;
    padding-top: 20px;
  }
  .main_aside .search {
    width: 100%;
  }
}

.search {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  -webkit-animation: searchMove 1.5s;
          animation: searchMove 1.5s;
}

@-webkit-keyframes searchMove {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes searchMove {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.search_bar {
  outline: none;
  position: relative;
  margin-right: 6px;
  flex: 1;
}

.search_bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.search_bar ul li {
  padding: 0 4px;
  cursor: pointer;
}

.search_bar ul li:hover {
  background-color: #f55;
}

.search_content {
  outline: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #666;
  letter-spacing: 1px;
  padding: 4px 10px;
  border: 1px solid #ff5050;
  box-shadow: 0 0 6px #ff5050;
  border-radius: 4px;
  background-color: transparent;
}

.sure_btn {
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: #ff5050;
  border-radius: 4px;
  transition: background-color 0.5s;
  cursor: pointer;
  color: white;
  line-height: 32px;
  text-align: center;
}

.sure_btn:hover {
  background-color: #fd2a2a;
}

.pnm_frame {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 0 5px white;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  transition: box-shadow 0.5s, opacity 1s, -webkit-transform 1s;
  transition: box-shadow 0.5s, opacity 1s, transform 1s;
  transition: box-shadow 0.5s, opacity 1s, transform 1s, -webkit-transform 1s;
}

.pnm_frame:hover {
  box-shadow: 0 0 20px black;
}

.pnm_frame:hover .frame_head {
  background-color: rgba(0, 0, 0, 0.8);
}

.pnm_frame:hover .frame_body {
  background-color: rgba(255, 255, 255, 0.8);
}

.pnm_frame.fade_move {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.frame_head {
  height: 42px;
  padding: 8px 12px;
  box-sizing: border-box;
  transition: background-color 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14.4px;
}

.frame_head .aside_icon {
  cursor: pointer;
}

.frame_head .aside_icon i:hover {
  color: #ff5050;
}

.frame_body {
  padding: 30px 12px;
  border: 1px solid white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: max-height 0.5s, padding-bottom 0.5s, padding-top 0.5s, background-color 0.5s;
  overflow: hidden;
}

.login_frame .frame_body {
  max-height: 200px;
}

.newblog_frame .frame_body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
  max-height: 300px;
}

.randomblog_frame .frame_body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
  max-height: 300px;
}

.frame_body .form {
  display: flex;
  flex-direction: column;
}

.frame_body .form > label {
  margin-bottom: 10px;
  display: flex;
  border-radius: 6px;
  box-shadow: 0 0 5px #ff5050;
}

.frame_body .form > label i {
  width: 40px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background-color: #ff5050;
  color: white;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.frame_body .form > label input {
  flex: 1;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border-left: none;
  border-width: 1px;
  border-style: solid;
  border-color: #ff5050;
  background-color: rgba(255, 255, 255, 0.6);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.frame_body .form > label input:focus {
  box-shadow: 1px 0 50px black;
}

.frame_body .form .tips {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12.8px;
  font-weight: bolder;
}

.frame_body .form .tips input {
  margin: 0;
  vertical-align: text-bottom;
}

.frame_body .form .tips a {
  color: black;
  font-size: inherit;
}

.frame_body .form .l_a_s {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.frame_body .form .l_a_s button {
  outline: none;
  border: none;
  width: 45%;
  color: white;
  font-size: 12.8px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.frame_body .form .l_a_s button:hover {
  background-color: #ff5050;
}

.frame_body .form .l_a_s a {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 45%;
  color: white;
  font-size: 12.8px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 6px;
}

.frame_body .form .l_a_s a:hover {
  background-color: #ff5050;
}

.frame_body .user_frame {
  display: flex;
  align-items: flex-end;
}

.frame_body .user_frame .userhead {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #aaa;
  box-shadow: 0 0 5px #aaa;
  background-image: url("https://gitee.com/pengnima1/blogimage/raw/master/img/menu/6.jpg");
  background-size: 100% 100%;
  margin-right: 20px;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.frame_body .user_frame:hover .userhead {
  -webkit-animation: bebounce 0.5s;
          animation: bebounce 0.5s;
}

@-webkit-keyframes bebounce {
  0% {
    width: 48px;
  }
  10% {
    width: 20px;
  }
  50% {
    width: 60px;
  }
  100% {
    width: 48px;
  }
}

@keyframes bebounce {
  0% {
    width: 48px;
  }
  10% {
    width: 20px;
  }
  50% {
    width: 60px;
  }
  100% {
    width: 48px;
  }
}

.frame_body .user_frame .username {
  font-size: 16px;
  line-height: 32px;
  border-top: 2px solid #ff5050;
  border-bottom: 2px solid #ff5050;
  margin-right: 20px;
  position: relative;
}

.frame_body .user_frame .username::before, .frame_body .user_frame .username::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #ff5050;
}

.frame_body .user_frame .username::after {
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  transition: box-shadow 0.5s;
}

.list:hover {
  box-shadow: 0 0 20px #000;
}

.list span:nth-child(1) a {
  font-size: 12.8px;
  color: black;
}

.list span:nth-child(1) a:hover {
  color: #ff5050;
}

.list span:nth-child(2) {
  font-size: 12.8px;
  color: white;
  background-color: #ff5050;
  padding: 2px;
  border-radius: 6px;
}

.tags_frame .frame_head {
  background-color: rgba(255, 255, 255, 0.6);
  justify-content: flex-start;
}

.tags_frame .frame_head span {
  display: inline-block;
  font-size: 12.8px;
  color: #000;
  margin-right: 10px;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.tags_frame .frame_head span:hover {
  background-color: #f55;
}

.tags_frame .frame_head span.is_select {
  color: #fff;
  background-color: #f55;
}

.tags_frame:hover .frame_head {
  background-color: rgba(255, 255, 255, 0.8);
}

.popular_tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.popular_tags a {
  display: inline-block;
  color: #fff;
  padding: 2px;
  margin-left: 6px;
  margin-top: 2px;
  opacity: 0.8;
}

.popular_tags a:hover {
  opacity: 1;
}

.popular_tags a:nth-child(5n + 1) {
  background-color: #f55;
}

.popular_tags a:nth-child(5n + 2) {
  background-color: #5f5;
}

.popular_tags a:nth-child(5n + 3) {
  background-color: #55f;
}

.popular_tags a:nth-child(5n + 4) {
  background-color: #fa5;
}

.popular_tags a:nth-child(5n + 5) {
  background-color: #b433fb;
}

.popular_tags a:nth-child(7n + 1) {
  font-size: 24px;
}

.popular_tags a:nth-child(7n + 2) {
  font-size: 19.2px;
}

.popular_tags a:nth-child(7n + 3) {
  font-size: 12.8px;
}

.popular_tags a:nth-child(7n + 4) {
  font-size: 16px;
}

.popular_tags a:nth-child(7n + 5) {
  font-size: 14.4px;
}

.popular_tags a:nth-child(7n + 6) {
  font-size: 16px;
}

.popular_tags a:nth-child(7n + 7) {
  font-size: 17.6px;
}
